/* Write the CSS for you answer here */


div{
    width: 800px;
    position: relative;
    margin: auto;
}

#landscape{
    width: 100%;
    position: absolute;
    z-index: -1;
}

#pohutukawa{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.color{
    position: absolute;
    z-index: 2;
}

#red{
    left: 90px;
    top: 270px;
}

#blue{
    left: 170px;
    top: 170px;
}

#darkblue{
    left: 350px;
    top: 200px;
}

#green{
    left: 500px;
    top: 150px;
}

#pink{
    left: 490px;
    top: 270px;
    z-index: 0;
}

#orange{
    left: 630px;
    top: 170px;
}