body {
	text-align: justify;
	padding: 0 20%;
}

table {
	margin-left:auto;
	margin-right:auto;
}

h1, h2, h3, b, strong {	
	color: Plum;			
}

h1, h3 {
	text-align: center;	
}

h1 {	text-transform: uppercase; }

h2 {
	text-align: right;
	border-bottom: 2px solid LightSlateGray;
}

p {	
	font-family: Georgia, serif;
	color: DarkSlateGray;
	line-height: 150%;
	text-align: justify;
}

hr {
	border: 1px dotted LightSlateGray;
	width: 50%;		
}


h3#number1-achievement { color: red;}
p.important { font-style: italic; }