h1, h2 {
    color: #fff
}

h2, h3 {
    letter-spacing: 1px;
    line-height: 1em
}

a, body, input, textarea {
    color: #333
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

article, div, figure, footer, header, li, nav, section {
    position: relative
}

.group:after {
    display: block;
    height: 0;
    font-size: 0;
    content: ".";
    clear: both;
    visibility: hidden
}

::-moz-selection {
    background: #333;
    color: #fff
}

::selection {
    background: #333;
    color: #fff
}

body {
    font-family: tablet-gothic, verdana, arial, sans-serif;
    background: #77c4d3;
}

h2, h3 {
    font-family: tablet-gothic-condensed, "arial narrow", arial, verdana, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

h1 {
    background: #ea2e49;
    display: inline-block;
    padding: .5em 1em;
    position: relative;
}

h2 {
    font-weight: 900;
    font-size: 6em;
    width: 70%;
    padding-top: 5%;
    position: relative;
}

h3 {
    font-size: 2.25em;
    font-weight: 200;
    padding: .5em 0 .25em
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-decoration: none;
    -moz-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    -o-transition: border-color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

a:hover {
    border-color: #ea2e49
}

div.explanation p a, div.participation p a, section.intro div.summary p a {
    color: #fff
}

div.participation p a:hover {
    border-color: #fff
}

li, p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    padding: .5em 0;
}

div.requirements p:last-child, h1, section.intro div.summary p {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.requirements p:last-child, section.intro div.summary p:last-child {
    border-top: 1px solid #ea2e49;
    margin-top: 1em;
    padding-top: 1.5em;
}

section.intro {
    padding: 5%;
}

em, strong {
    font-style: normal;
    font-weight: 400;
}

html {
    background: #daede2
}

div.page-wrapper {
    z-index: 2;
}

section.intro div.summary {
    color: #fff;
    width: 60%;
    padding-top:10%;
    padding-bottom: 10%;
    position: relative;
}

section.intro div.preamble {
    background: rgba(255, 255, 255, .9);
    color: #333;
    position:relative;
    left: -12%;
    /*Why there is a gap here?*/
    width: 72%;
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2.5%;
}

aside.sidebar, footer {
    background: rgba(246, 247, 146, .9);
}

div.main {
    position: relative;
    padding-top: 5%;
}

aside.sidebar ul {
    padding: .5em 0 2em;
}

aside.sidebar ul li {
    color: rgba(0, 0, 0, .4);
    list-style: none;
    margin: 0;
    padding: 0 0 .825em;
}

footer {
    clear: both;
    color: #fff;
    padding: 1em 5%;
}

footer a {
    margin-right: .5em;
}

div.explanation {
    color: #fff;
}

div.participation {
    background: rgba(234, 46, 73, .9);
    color: #fff;
}

div.benefits, div.requirements {
    background: rgba(255, 255, 255, .9);
}

div.benefits {
}

h2 {
    font-size: 8em
}

section.intro {
}

aside.sidebar {
    right: 0;
    top: 2.5%;
}

div.extra1 {
    background: rgba(51, 55, 69, .9);
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 1
}

div.explanation {
    width: 40%;
    display: inline-block;
    position:absolute;
    padding-top: 2%;
    left: 5%;

}

div.participation {
    width: 45%;
    position:relative;
    padding:2%;
    left:50%;

}

div.benefits, div.requirements {
    padding:5%;
    position: relative;
    display: inline-block;
    vertical-align: middle;

}


div.benefits {
    width:30%;
    left:5%;
}

div.requirements {
    width: 60%;
    left:4.4%;
    /*Why there is a gap here?*/
}

body {
    font-size: 125%;
    margin: 5%;
    padding-bottom: 5%;
}

div footer{
    width: 50%;
    left:5%;
    /* why connot use margin?*/
}

aside.sidebar{
    position: absolute;
    width: 30%;
    padding: 5%;
}

div.extra1 {
    background-color: rgba(67, 72, 84, .9);
    width: 30%;
    position: fixed;
}
